@media (max-width: 1399px){
    .feature-inner ul li {
        margin-top: 13px !important;
    }
}
@media (max-width: 1199px){
    .feature-inner ul li {
        font-size: 18px !important;
        margin-top: 5px !important;
    }
}
@media (max-width: 991px){
    .banner-inner h1 {
        font-size: 23px !important;
    }
    .banner-inner p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }
    .text-section p {
        font-size: 15px !important;
    }
    .portfolio-inner p {
        letter-spacing: 3px !important;
    }
    .portfolio-inner h4 {
        font-size: 19px !important;
    }
    .feature-inner ul h1 {
        font-size: 39px !important;
    }
    .feature-inner ul li {
        font-size: 15px !important;
        margin-top: 0px !important;
    }
}
@media (max-width: 767px){
    .banner-inner h1 {
        font-size: 29px !important;
    }
    .banner-inner p {
        font-size: 18px !important;
        font-weight: 500 !important;
    }
    .text-section p {
        font-size: 14px !important;
    }
    .portfolio-inner h4 {
        font-size: 14px !important;
    }
    .portfolio-inner p {
        font-size: 14px !important;
    }
    .feature-inner ul li {
        font-size: 18px !important;
    }
    .text-section h2 {
        font-size: 27px !important;
    }
    .feature-section{
        position: relative !important;
    }
    .feature-inner {
        width: 100% !important;
        padding: 98px 55px 289px !important;
        background: rgba(255, 255, 255, 0.55) !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
    }
}
@media (max-width: 575px){
    .portfolio-inner{
        text-align: center !important;
    }
    .portfolio-inner p {
        font-size: 16px !important;
        letter-spacing: 5px !important;
    }
    .portfolio-inner h4 {
        font-size: 19px !important;
        margin-bottom: 25px !important;
    }
    
    .feature-section{
        position: relative !important;
    }
    .feature-inner{
        width: 100%;
        background: rgba(255, 255, 255, 0.55) !important;
        padding: 47px 10px 116px 64px !important;
        position: absolute !important;
        top: 0 !important;
    }
    .portfolio-inner{
        text-align: center !important;
    }
}
@media (max-width: 480px){
    .banner-inner h1 {
        font-size: 20px !important;
    }
    .portfolio-inner{
        text-align: center !important;
    }
    .portfolio-inner p {
        font-size: 16px !important;
        letter-spacing: 5px !important;
    }
    .portfolio-inner h4 {
        font-size: 19px !important;
        margin-bottom: 25px !important;
    }
    
    .feature-section{
        position: relative !important;
    }
    .feature-inner{
        width: 100%;
        background: rgba(255, 255, 255, 0.55) !important;
        padding: 22px 10px 228px 23px !important;
        position: absolute !important;
        top: 0 !important;
    }
    .feature-inner ul li {
        font-size: 11px !important;
    }
    .feature-inner ul h1 {
        font-size: 30px !important;
    }
    .portfolio-inner{
        text-align: center !important;
    }
}